@using HWShop_ASP.net.Data
@using Microsoft.EntityFrameworkCore

@inject AppDbContext Db;

@page "/catalog"
<h3>Catalog</h3>

@using Blazored.Toast.Services
@using HW2OnlineShop
@using HWShop_ASP.net.Pages.ProductShow
@using Blazored.Toast
@using Blazored.Toast.Services

@inject IProductCatalog ProductCatalog
@inject IToastService ToastService;

@foreach (var p in products)
{
    <div>@p.Name</div>
    <img src="@p.urlImage" alt="Image"/>
    <div>@p.Price</div> 
    <div>
        <a href="@p.moreDetails">Подробнее</a>
     </div>   
}

@foreach (var p in productsDB)
{
    <div>@p.Name</div>
    <img src="@p.urlImage" width="200" height="200" alt="Image"/>
    <div>@p.Price</div> 
    <div>
        <a href="@p.moreDetails">Подробнее</a>
     </div>   
}

@code {
    IReadOnlyCollection<Product> products;
    IReadOnlyCollection<Product> productsDB;

    protected override void OnInitialized()
    {
        products = ProductCatalog.GetProductCatalog();
        productsDB = Db.ProductDB.ToList();
        //foreach (var bd in Db.ProductDB.OrderBy(b => b.Id))
        //{
        //    productsDB = bd.Name
        //}
    } 
}


