@page "/jacket"
@using HW2OnlineShop
@using HWShop_ASP.net.Product
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.Collections.Concurrent


<h1>Куртка</h1>
<link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />

@foreach (var p in products)
{
    if (p.Name == "Куртка")
    {
        <div>@p.Name</div>
        <img src="@p.urlImage" alt="Image" width="700" height="700"/>
        <div>@p.Price</div>
    }           
}

<div>
    <button @onclick="@AddToBasket">
        +
    </button>
    <span class="count">
        @Count
    </span>
    <button @onclick="@RemoveFromBasket">
        -
    </button>
        <button @onclick="@Buy">
        Купить
    </button>
</div>



@inject IProductCatalog ProductCatalog
@inject IBasket Basket
@inject ProtectedLocalStorage _localStorage

@code {
    IReadOnlyCollection<Product> products;
    @inject IToastService ToastService;
    
    public int Count { get; set; } = 0;
    Product productName;

    protected override void OnInitialized()
    {

        products = ProductCatalog.GetProductCatalog();
        productName = ProductCatalog.GetProduct("Куртка");

    }

    private void AddToBasket()
    {
        Count++;
    }

    private void RemoveFromBasket()
    {
        if(Count != 0)
            Count--;
    }

    private void Buy()
    {
       //ToastService.ShowSuccess("Товар добален в корзину!", ":)");
       Basket.Buy(productName, Count);
        SavePerson(productName.Name, Count);
    }

    private void SavePerson(string name,int count )
    {
        Basket.AddLaastShop(name,count);
        _localStorage.SetAsync("basket",Basket.GetLastProduct());
    }

}