@page "/jacket"
@using HW2OnlineShop
@using HWShop_ASP.net.Product
<h1>Куртка</h1>
<link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />

@foreach (var p in products)
{
    if (p.Name == "Куртка")
    {
        <div>@p.Name</div>
        <img src="@p.urlImage" alt="Image" width="700" height="700"/>
        <div>@p.Price</div>
    }           
}

<div>
    <button @onclick="@AddToCart">
        +
    </button>
    <span class="count">
        @Count
    </span>
    <button @onclick="@RemoveFromCart">
        -
    </button>
        <button @onclick="@Buy">
        Купить
    </button>
</div>



@inject IProductCatalog ProductCatalog
@inject IBasket Basket

@code {
    IReadOnlyCollection<Product> products;
    @inject IToastService ToastService;

    [Parameter]
    public int Count { get; set; } = 0;

    protected override void OnInitialized()
    {

        products = ProductCatalog.GetProductCatalog();

    }

    private void AddToCart()
    {
        Count++;
    }

    private void RemoveFromCart()
    {
        if(Count != 0)
            Count--;
    }

    private void Buy()
    {
       ToastService.ShowSuccess("Товар добален в корзину!", ":)");
       Basket.Buy("Куртка", Count);

    }
}